@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    background-color: #eee;
}

.up {
    position: absolute;
    top: 2%;
    left: 2.5em;
}

.middle {
    position: absolute;
    bottom: 15%;
    left: 2.5em;
}

.down {
    position: absolute;
    bottom: 3%;
    left: 2.5em;
}

.down a {
    width: 1.7em;;
    border-radius: 0;
    display: inline-block;
    margin-right: 8px;
}

.down a:last-child {
    width: 3.2em;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12em;
    background-image: url(../images/old-paper-texture.jpg);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 7em;
    border-radius: 100%;
    margin: auto;
}

.main-text h1 {
    text-align: left;
    letter-spacing: 3px;
}

.main-text span {
    color: #f2600f;
    font-size: 130%;
}

.show {
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 20px;
    padding: 30px;
}

.main-text p {
    text-align: justify;
    line-height: 1.4;
}

.column {
    float: left;
}

.column.central {
    width: 60%;
    margin-left: 12em;
    padding: 1em 2em;
}

.column.side {
    width: 23%;
}

.column.wide {
    margin-left: 12em;
    padding: 1em 2em;
    width: 83%;
}

div.news {
    margin: 1em 0;
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    height: auto;
    overflow: auto;
}

div.uno {
    width: 70%;
    height: auto;
    height: 250px;
    display: inline-block;
    float: left;
}

div.due {
    width: 25%;
    height: auto;
    display: inline-block;
    float: right;
}

div.news h2 {
    text-align: left;
    margin-bottom: 5px;
}

div.news a {
    color: #f2600f;
    text-decoration: none;
}

div.news a:hover {
    letter-spacing: 2px;
}

div.news p.meta {
    text-align: left;
    margin-top: 5px;
}

div.news p.info {
    text-align: justify;
}

.all:after {
    content: "";
    display: table;
    clear: both;
}
