@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #222;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    background-color: #eee;
}

.up {
    position: absolute;
    top: 2%;
    left: 2.5em;
}

.middle {
    position: absolute;
    bottom: 15%;
    left: 2.5em;
}

.down {
    position: absolute;
    bottom: 3%;
    left: 2.5em;
}

.down a {
    width: 1.7em;;
    border-radius: 0;
    display: inline-block;
    margin-right: 8px;
}

.down a:hover {
    width: 1.9em;;
    margin-right: 5px;
}

.down a:last-child {
    width: 3.2em;
    
}

.down a:last-child:hover {
    width: 3.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12em;
    background-image: url(../images/old-paper-texture.jpg);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 7em;
    border-radius: 100%;
    margin: auto;
}

li a img {
    display: inline-block;
    border-radius: 100%;
}

li a:hover img {
    border: 1px solid #444;
    border-radius: 100%;
}

.main-text h1 {
    text-align: left;
    letter-spacing: 3px;
}

.main-text span {
    color: #f2600f;
    font-size: 130%;
}

.show {
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 20px;
    padding: 30px;
}

.main-text p {
    text-align: justify;
    line-height: 1.4;
}

.column {
    float: left;
}

.column.central {
    width: 60%;
    margin-left: 12em;
    padding: 1em 2em;
}

.column.side {
    width: 23%;
    position: fixed;
    right: 20px;
}

@media screen and (max-width: 1920px) {
    .column.side {
        width: 29%;
    }
}

@media screen and (max-width: 1680px) {
    .column.side {
        width: 28%;
    }
}

@media screen and (max-width: 1600px) {
    .column.side {
        width: 27%;
    }
}

@media screen and (max-width: 1440px) {
    .column.side {
        width: 26%;
    }
}

@media screen and (max-width: 1366px) {
    .column.side {
        width: 25%;
    }
}

@media screen and (max-width: 1280px) {
    .column.side {
        width: 23%;
    }
}

@media screen and (max-width: 1024px) {
    .column.side {
        width: 19%;
    }
}

@media screen and (max-width: 768px) {
    ul {
        width: 10em;
    }
    .up {
        left: 1.5em;
    }
    .middle {
        left: 1.5em;
    }
    .down {
        left: 1.5em;
    }
    .column.central {
        margin-left: 10em;
}
    .column.side {
        width: 17%;
    }
}

.column.wide {
    margin-left: 12em;
    padding: 1em 2em;
    width: 83%;
}

div.news {
    margin: 6.7em 0;
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    height: auto;
    overflow: auto;
}

div.uno {
    width: 70%;
    height: auto;
    height: 250px;
    display: inline-block;
    float: left;
}

div.due {
    width: 25%;
    height: auto;
    display: inline-block;
    float: right;
}

div.news p.meta {
    color: #666;
    font-size: 80%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 3px;
}

div.news p.info {
    text-align: left;
    margin-top: 3px;
}

div.news a {
    text-decoration: none;
    color: #666;
    font-size: 80%;
}

div.news a:hover {
    color: #222;
    font-size: 82%;
}

.all:after {
    content: "";
    display: table;
    clear: both;
}

div.proj {
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    height: auto;
    overflow: auto;
}

div.proj p.meta {
    color: #222;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 3px;
}

div.proj p.info {
    text-align: justify;
    margin-top: 3px;
}

div.proj h2 {
    text-align: left;
}

div.proj a {
    text-decoration: none;
    color: #f2600f;
}

div.proj a:hover {
    font-size: 105%
}