@font-face {
    font-family: "Digital";
    src: url("../fonts/digital.ttf") format("truetype");
}

body {
   padding: 0;
   margin: 0;
   background-image: url(../images/old-paper-texture.jpg);
}

div.moto h1 {
    font-family: "Digital", monospace;
    font-size: 3em;
    text-align: center;
    color: #565759;
    width: 1800px;
   -webkit-transform: translate3d(-855.0px, -430.0px, 0);
   transform: translate3d(-855.0px, -430.0px, 0);
}

div.moto h5 {
    font-family: "Digital", monospace;
    font-size: 1.7em;
    text-align: right;
    color: #f2600f;
    width: 200px;
   -webkit-transform: translate3d(570.0px, -470.0px, 0);
   transform: translate3d(570.0px, -470.0px, 0);
}

div.enter {
    font-family: "Digital", monospace;
    font-size: 100%;
    text-align: center;
    color: #f2600f;
    -webkit-transform: translate3d(40.0px, -5.0px, 0);
    transform: translate3d(40.0px, -5.0px, 0);
    display: inline-block;
}

div.enter p {
    margin: 0;
    display: inline-block;
}

.menu-open-button {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-left: -40px;
    position: absolute;
    left: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open-button span{
    border-radius: 100%;
    display: block;
}

.menu-open {
   display: none;
}

.menu {
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 80px;
   height: 80px;
   box-sizing: border-box;
}

.menu-item {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: -40px;
    position: absolute;
    left: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-item a {
    display: block;
    border-radius: 100%;
    background: #eee;
}

.menu-item img {
    display: none;
    border-radius: 100%;
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    
}

.menu-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(4) {
   -webkit-transition-duration: 280ms;
   transition-duration: 280ms;
}

.menu-item:nth-child(5) {
   -webkit-transition-duration: 380ms;
   transition-duration: 380ms;
}

.menu-item:nth-child(6) {
   -webkit-transition-duration: 480ms;
   transition-duration: 480ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
}

.menu-item:nth-child(8) {
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
}

.menu-item:nth-child(9) {
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
}

.menu-item:nth-child(10) {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu-item:nth-child(11) {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(5.2, 5.2) translate3d(0, 0, 0);
   transform: scale(5.2, 5.2) translate3d(0, 0, 0);
   cursor: pointer;
}

.menu-open-button:hover {
   -webkit-transform: scale(4.8, 4.8) translate3d(0, 0, 0);
   transform: scale(4.8, 4.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ div.hide {
    display: none;  
}

.menu-open:checked ~ label > div.hide {
    display: none;  
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(4.0, 4.0) translate3d(0, 0, 0);
   transform: scale(4.0, 4.0) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-15.0px, -375.0px, 0);
   transform: translate3d(-15.0px, -375.0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 880ms;
   -webkit-transition-duration: 880ms;
   -webkit-transform: translate3d(350.0px, 0.0px, 0);
   transform: translate3d(350.0px, 0.0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 1080ms;
   -webkit-transition-duration: 1080ms;
   -webkit-transform: translate3d(-15.0px, 350.0px, 0);
   transform: translate3d(-15.0px, 350.0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
   transition-duration: 1280ms;
   -webkit-transition-duration: 1280ms;
   -webkit-transform: translate3d(-380.0px, 0.0px, 0);
   transform: translate3d(-380.0px, 0.0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 1100ms;
    -webkit-transition-duration: 1100ms;
    -webkit-transform: scale(0.2, 0.2) translate3d(2870%, 1380%, 0);
    transform: scale(0.2, 0.2) translate3d(-2870%, 1380%, 0);
    opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 1300ms;
    -webkit-transition-duration: 1300ms;
    -webkit-transform: scale(0.2, 0.2) translate3d(-2700%, 1380%, 0);
    transform: scale(0.2, 0.2) translate3d(-2700%, 1380%, 0);
    opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -webkit-transform: scale(0.4, 0.4) translate3d(-1420%, 810%, 0);
    transform: scale(0.35, 0.35) translate3d(-1420%, 810%, 0);
    opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(10) {
    transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -145%, 0);
    transform: scale(1.4, 1.4) translate3d(-145%, -145%, 0);
    opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(11) {
    transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -webkit-transform: scale(1.4, 1.4) translate3d(140%, -145%, 0) rotateY(180deg);
    transform: scale(1.4, 1.4) translate3d(140%, -145%, 0) rotateY(180deg);
    opacity: 1;
    z-index: -2;
}

.menu-open:checked ~ .menu-item:nth-child(7) img {
    border-radius: 0px;
}

.menu-open:checked ~ .menu-item:nth-child(8) img {
    border-radius: 0px;
}

.menu-open:checked ~ .menu-item:nth-child(9) img {
    border-radius: 0px;
}

.menu-open:checked ~ .menu-item:nth-child(9) a {
    background: rgba(255, 255, 255, 0);
}

.menu-open:checked ~ .menu-item:nth-child(10) img {
    border-radius: 0px;
}

.menu-open:checked ~ .menu-item:nth-child(10) a {
    background: rgba(255, 255, 255, 0);
}

.menu-open:checked ~ .menu-item:nth-child(11) img {
    border-radius: 0px;
}

.menu-open:checked ~ .menu-item:nth-child(11) a {
    background: rgba(255, 255, 255, 0);
}

.menu-open:checked ~ .menu-item img {
    display: block;
}

/* Flip */

.flip-container {
    perspective: 1000;
}
.flip-container:hover .card {
    transform: rotateY(180deg);
}
.card, .front, .back {
    width: 100%;
    height: 100%;
}
.card {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    z-index: 1;
    transform: rotateY(180deg);
}

/* Dropdown */

.dropdown-content {
    -webkit-transform: translate3d(28.0px, -155.0px, 0);
    transform: translate3d(28.0px, -155.0px, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover ~ .menu-item {
    opacity: 0.5;
}

.dropdown:hover ~ div.hidden img {
    opacity: 0.5;  
}

.menu-item.about,
.menu-item.projects,
.menu-item.events {
    opacity: 0; 
}

.menu-item.about img,
.menu-item.projects img,
.menu-item.events img {
    border-radius: 0;
}
    
.dropdown-content div:nth-child(1) {
    -webkit-transition: -webkit-transform ease-out 300ms, -webkit-opacity ease-out 600ms;
    transition: -webkit-transform ease-out 300ms, -webkit-opacity ease-out 600ms;
    transition: transform ease-out 300ms, opacity ease-out 600ms;
    transition: transform ease-out 300ms, opacity ease-out 600ms, -webkit-transform ease-out 300ms, -webkit-opacity ease-out 600ms;
    opacity: 0;
}

.dropdown-content div:nth-child(2) {
    -webkit-transition: -webkit-transform ease-out 500ms, -webkit-opacity ease-out 800ms;
    transition: -webkit-transform ease-out 500ms, -webkit-opacity ease-out 800ms;
    transition: transform ease-out 500ms, opacity ease-out 800ms;
    transition: transform ease-out 500ms, opacity ease-out 800ms, -webkit-transform ease-out 500ms, -webkit-opacity ease-out 800ms;
    opacity: 0;
}

.dropdown-content div:nth-child(3) {
    -webkit-transition: -webkit-transform ease-out 700ms, -webkit-opacity ease-out 1000ms;
    transition: -webkit-transform ease-out 700ms, -webkit-opacity ease-out 1000ms;
    transition: transform ease-out 700ms, opacity ease-out 1000ms;
    transition: transform ease-out 700ms, opacity ease-out 1000ms, -webkit-transform ease-out 700ms, -webkit-opacity ease-out 1000ms;
    opacity: 0;
}

.dropdown:hover .about {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-delay: 100ms;
    transition-duration: 780ms;
   -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(2.0px, 5.0px, 0);
    transform: translate3d(2.0px, 5.0px, 0);
    opacity: 1;
}

.dropdown:hover .projects {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-delay: 100ms;
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(188.0px, 5.0px, 0);
    transform: translate3d(188.0px, 5.0px, 0);
    opacity: 1;
}

.dropdown:hover .events {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-delay: 100ms;
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(302.0px, 5.0px, 0);
    transform: translate3d(375.0px, 5.0px, 0);
    opacity: 1;
}

/* Responsive */

@media screen and (max-width: 1680px) {
    div.moto h1 {
        width: 1600px;
       -webkit-transform: translate3d(-760.0px, -420.0px, 0);
       transform: translate3d(-760.0px, -420.0px, 0);
    }
    
    div.enter {
        font-size: 70%;
        -webkit-transform: translate3d(46.0px, -8.0px, 0);
        transform: translate3d(46.0px, -8.0px, 0);
    }

    .menu-item {
        width: 130px;
        height: 130px;
    }

    .menu-open-button {
       -webkit-transform: scale(5.0, 5.0) translate3d(0, 0, 0);
       transform: scale(5.0, 5.0) translate3d(0, 0, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(-5.0px, -350.0px, 0);
       transform: translate3d(-5.0px, -350.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(345.0px, 0.0px, 0);
       transform: translate3d(345.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(-5.0px, 345.0px, 0);
       transform: translate3d(-5.0px, 345.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-355.0px, 0.0px, 0);
       transform: translate3d(-355.0px, 0.0px, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(2600%, 1380%, 0);
        transform: scale(0.2, 0.2) translate3d(-2600%, 1380%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-2450%, 1380%, 0);
        transform: scale(0.2, 0.2) translate3d(-2450%, 1380%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-1285%, 810%, 0);
        transform: scale(0.35, 0.35) translate3d(-1285%, 810%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -160%, 0);
        transform: scale(1.4, 1.4) translate3d(-145%, -160%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(140%, -160%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(140%, -160%, 0) rotateY(180deg);
    }

    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -135.0px, 0);
        transform: translate3d(28.0px, -135.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(164.0px, 5.0px, 0);
        transform: translate3d(164.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(326.0px, 5.0px, 0);
        transform: translate3d(326.0px, 5.0px, 0);
    }
    
}

@media screen and (max-width: 1600px) {
    div.moto h1 {
        font-size: 2.5em;
        width: 1590px;
       -webkit-transform: translate3d(-755.0px, -345.0px, 0);
       transform: translate3d(-755.0px, -345.0px, 0);
    }

    div.moto h5 {
        font-size: 1.2em;
       -webkit-transform: translate3d(445.0px, -380.0px, 0);
       transform: translate3d(445.0px, -380.0px, 0);
    }
    
    div.enter {
        font-size: 70%;
        -webkit-transform: translate3d(46.0px, -8.0px, 0);
        transform: translate3d(46.0px, -8.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(4.3, 4.3) translate3d(0, 0, 0);
       transform: scale(4.3, 4.3) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(4.1, 4.1) translate3d(0, 0, 0);
       transform: scale(4.1, 4.1) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(3.3, 3.3) translate3d(0, 0, 0);
       transform: scale(3.3, 3.3) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 120px;
        height: 120px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(-5.0px, -290.0px, 0);
       transform: translate3d(-5.0px, -290.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(295.0px, 0.0px, 0);
       transform: translate3d(295.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(-5.0px, 290.0px, 0);
       transform: translate3d(-5.0px, 290.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-295.0px, 0.0px, 0);
       transform: translate3d(-295.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(2870%, 1360%, 0);
        transform: scale(0.2, 0.2) translate3d(-2870%, 1360%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-2700%, 1360%, 0);
        transform: scale(0.2, 0.2) translate3d(-2700%, 1360%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-1420%, 800%, 0);
        transform: scale(0.35, 0.35) translate3d(-1420%, 800%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -140%, 0);
        transform: scale(1.4, 1.4) translate3d(-145%, -140%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(140%, -140%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(140%, -140%, 0) rotateY(180deg);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -125.0px, 0);
        transform: translate3d(28.0px, -125.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(152.0px, 5.0px, 0);
        transform: translate3d(152.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(302.0px, 5.0px, 0);
        transform: translate3d(302.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 1440px) {
    div.moto h1 {
        width: 1430px;
       -webkit-transform: translate3d(-675.0px, -345.0px, 0);
       transform: translate3d(-675.0px, -345.0px, 0);
    }

    div.moto h5 {
       -webkit-transform: translate3d(445.0px, -380.0px, 0);
       transform: translate3d(445.0px, -380.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(4.0, 4.0) translate3d(0, 0, 0);
       transform: scale(4.0, 4.0) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(3.8, 3.8) translate3d(0, 0, 0);
       transform: scale(3.8, 3.8) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(3.4, 3.4) translate3d(0, 0, 0);
       transform: scale(3.4, 3.4) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 115px;
        height: 115px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(0.0px, -295.0px, 0);
       transform: translate3d(0.0px, -295.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(305.0px, 0.0px, 0);
       transform: translate3d(305.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(0.0px, 300.0px, 0);
       transform: translate3d(0.0px, 300.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-300.0px, 0.0px, 0);
       transform: translate3d(-300.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(2550%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-2550%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-2400%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-2400%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-1260%, 840%, 0);
        transform: scale(0.35, 0.35) translate3d(-1260%, 840%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -150%, 0);
        transform: scale(1.4, 1.4) translate3d(-145%, -150%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(140%, -150%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(140%, -150%, 0) rotateY(180deg);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -120.0px, 0);
        transform: translate3d(28.0px, -120.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(146.0px, 5.0px, 0);
        transform: translate3d(146.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(290.0px, 5.0px, 0);
        transform: translate3d(290.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 1366px) {
    div.moto h1 {
        font-size: 2em;
        width: 1345px;
       -webkit-transform: translate3d(-635.0px, -280.0px, 0);
       transform: translate3d(-635.0px, -280.0px, 0);
    }

    div.moto h5 {
        font-size: 1em;
       -webkit-transform: translate3d(320.0px, -310.0px, 0);
       transform: translate3d(320.0px, -310.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(3.7, 3.7) translate3d(0, 0, 0);
       transform: scale(3.7, 3.7) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(3.5, 3.5) translate3d(0, 0, 0);
       transform: scale(3.5, 3.5) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(2.8, 2.8) translate3d(0, 0, 0);
       transform: scale(2.8, 2.8) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 100px;
        height: 100px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(5.0px, -230.0px, 0);
       transform: translate3d(5.0px, -230.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(250.0px, 0.0px, 0);
       transform: translate3d(250.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(5.0px, 250.0px, 0);
       transform: translate3d(5.0px, 250.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-230.0px, 0.0px, 0);
       transform: translate3d(-230.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -135%, 0);
        transform: scale(1.4, 1.4) translate3d(-145%, -135%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(140%, -135%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(140%, -135%, 0) rotateY(180deg);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -105.0px, 0);
        transform: translate3d(28.0px, -105.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(127.0px, 5.0px, 0);
        transform: translate3d(127.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(252.0px, 5.0px, 0);
        transform: translate3d(252.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 1024px) and (max-height: 800px){
    div.moto h1 {
        width: 900px;
        font-size: 1.8em;
       -webkit-transform: translate3d(-410.0px, -290.0px, 0);
       transform: translate3d(-410.0px, -290.0px, 0);
    }

    div.moto h5 {
        font-size: 1em;
       -webkit-transform: translate3d(275.0px, -320.0px, 0);
       transform: translate3d(275.0px, -320.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(3.7, 3.7) translate3d(0, 0, 0);
       transform: scale(3.7, 3.7) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(3.5, 3.5) translate3d(0, 0, 0);
       transform: scale(3.5, 3.5) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(3.0, 3.0) translate3d(0, 0, 0);
       transform: scale(3.0, 3.0) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 100px;
        height: 100px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(10.0px, -245.0px, 0);
       transform: translate3d(10.0px, -245.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(265.0px, 0.0px, 0);
       transform: translate3d(265.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(10.0px, 265.0px, 0);
       transform: translate3d(10.0px, 265.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-245.0px, 0.0px, 0);
       transform: translate3d(-245.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(2050%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-2050%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-1900%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-1900%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-970%, 840%, 0);
        transform: scale(0.35, 0.35) translate3d(-970%, 840%, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-145%, -145%, 0);
        transform: scale(1.4, 1.4) translate3d(-145%, -145%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(150%, -145%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(150%, -145%, 0) rotateY(180deg);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -105.0px, 0);
        transform: translate3d(28.0px, -105.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(127.0px, 5.0px, 0);
        transform: translate3d(127.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(252.0px, 5.0px, 0);
        transform: translate3d(252.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px){
    div.moto h1 {
        width: 900px;
        font-size: 1.8em;
       -webkit-transform: translate3d(-410.0px, -200.0px, 0);
       transform: translate3d(-410.0px, -200.0px, 0);
    }

    div.moto h5 {
        font-size: 1em;
       -webkit-transform: translate3d(275.0px, -230.0px, 0);
       transform: translate3d(275.0px, -230.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(2.5, 2.5) translate3d(0, 0, 0);
       transform: scale(2.5, 2.5) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(2.3, 2.3) translate3d(0, 0, 0);
       transform: scale(2.3, 2.3) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(2.1, 2.1) translate3d(0, 0, 0);
       transform: scale(2.1, 2.1) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 80px;
        height: 80px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(20.0px, -165.0px, 0);
       transform: translate3d(20.0px, -165.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(205.0px, 20.0px, 0);
       transform: translate3d(205.0px, 20.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(20.0px, 205.0px, 0);
       transform: translate3d(20.0px, 205.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-165.0px, 20.0px, 0);
       transform: translate3d(-165.0px, 20.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(2450%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-2450%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-2300%, 1430%, 0);
        transform: scale(0.2, 0.2) translate3d(-2300%, 1430%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(1200%, 840%, 0);
        transform: scale(0.35, 0.35) translate3d(-1200%, 840%, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(10) {
        -webkit-transform: scale(1.4, 1.4) translate3d(-120%, -115%, 0);
        transform: scale(1.4, 1.4) translate3d(-120%, -115%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        -webkit-transform: scale(1.4, 1.4) translate3d(150%, -115%, 0) rotateY(180deg);
        transform: scale(1.4, 1.4) translate3d(150%, -115%, 0) rotateY(180deg);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -85.0px, 0);
        transform: translate3d(28.0px, -85.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(102.0px, 5.0px, 0);
        transform: translate3d(102.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(202.0px, 5.0px, 0);
        transform: translate3d(202.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 800px) {
    div.moto h1 {
        font-size: 1.5em;
        width: 750px;
       -webkit-transform: translate3d(-335.0px, -380.0px, 0);
       transform: translate3d(-335.0px, -380.0px, 0);
    }

    div.moto h5 {
        font-size: 0.8em;
       -webkit-transform: translate3d(205.0px, -400.0px, 0);
       transform: translate3d(205.0px, -400.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(4.2, 4.2) translate3d(0, 0, 0);
       transform: scale(4.2, 4.2) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(4.0, 4.0) translate3d(0, 0, 0);
       transform: scale(4.0, 4.0) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
       -webkit-transform: scale(3.2, 3.2) translate3d(0, 0, 0);
       transform: scale(3.2, 3.2) translate3d(0, 0, 0);
    }
    
    .menu-item {
        width: 110px;
        height: 110px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(5.0px, -265.0px, 0);
       transform: translate3d(5.0px, -265.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(280.0px, 0.0px, 0);
       transform: translate3d(280.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(5.0px, 280.0px, 0);
       transform: translate3d(5.0px, 280.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-270.0px, 0.0px, 0);
       transform: translate3d(-270.0px, 0.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(1550%, 1500%, 0);
        transform: scale(0.2, 0.2) translate3d(-1550%, 1500%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-1390%, 1500%, 0);
        transform: scale(0.2, 0.2) translate3d(-1390%, 1500%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-675%, 880%, 0);
        transform: scale(0.35, 0.35) translate3d(-675%, 880%, 0);
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -115.0px, 0);
        transform: translate3d(28.0px, -115.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(140.0px, 5.0px, 0);
        transform: translate3d(140.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(278.0px, 5.0px, 0);
        transform: translate3d(278.0px, 5.0px, 0);
    }
}

@media screen and (max-width: 768px) {
    div.moto h1 {
        font-size: 1.4em;
        width: 740px;
       -webkit-transform: translate3d(-330.0px, -380.0px, 0);
       transform: translate3d(-330.0px, -380.0px, 0);
    }

    div.moto h5 {
       -webkit-transform: translate3d(18.0px, -400.0px, 0);
       transform: translate3d(180.0px, -400.0px, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(1500%, 1500%, 0);
        transform: scale(0.2, 0.2) translate3d(-1500%, 1500%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-1340%, 1500%, 0);
        transform: scale(0.2, 0.2) translate3d(-1340%, 1500%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-645%, 880%, 0);
        transform: scale(0.35, 0.35) translate3d(-645%, 880%, 0);
    }

@media screen and (max-width: 600px) {
    div.moto h1 {
        font-size: 1.1em;
        width: 590px;
       -webkit-transform: translate3d(-255.0px, -380.0px, 0);
       transform: translate3d(-255.0px, -380.0px, 0);
    }

    div.moto h5 {
        font-size: 0.6em;
       -webkit-transform: translate3d(105.0px, -395.0px, 0);
       transform: translate3d(105.0px, -395.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(3.6, 3.6) translate3d(0, 0, 0);
       transform: scale(3.6, 3.6) translate3d(0, 0, 0);
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(3.4, 3.4) translate3d(0, 0, 0);
       transform: scale(3.4, 3.4) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(2.8, 2.8) translate3d(0, 0, 0);
        transform: scale(3.0, 3.0) translate3d(0, 0, 0);
    }
  
    .menu-item {
        width: 90px;
        height: 90px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(15.0px, -235.0px, 0);
       transform: translate3d(15.0px, -235.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(150.0px, 270.0px, 0);
       transform: translate3d(150.0px, 270.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(15.0px, 270.0px, 0);
       transform: translate3d(15.0px, 270.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-120.0px, 270.0px, 0);
       transform: translate3d(-120.0px, 270.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(1350%, 2200%, 0);
        transform: scale(0.2, 0.2) translate3d(-1350%, 2200%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-1200%, 2200%, 0);
        transform: scale(0.2, 0.2) translate3d(-1200%, 2200%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-565%, 1280%, 0);
        transform: scale(0.35, 0.35) translate3d(-565%, 1280%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(10) {
        opacity: 0;
        z-index: -1;
    }

    .menu-open:checked ~ .menu-item:nth-child(11) {
        opacity: 0;
    }
    
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -95.0px, 0);
        transform: translate3d(28.0px, -95.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(115.0px, 5.0px, 0);
        transform: translate3d(-110.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(115.0px, 5.0px, 0);
        transform: translate3d(115.0px, 5.0px, 0);
    }
}
    
@media screen and (max-width: 414px) {
    div.moto h1 {
        font-size: 0.9em;
        width: 400px;
       -webkit-transform: translate3d(-160.0px, -280.0px, 0);
       transform: translate3d(-160.0px, -280.0px, 0);
    }

    div.moto h5 {
        font-size: 0.6em;
       -webkit-transform: translate3d(25.0px, -295.0px, 0);
       transform: translate3d(25.0px, -295.0px, 0);
    }
    
    div.enter {
        font-size: 60%;
        -webkit-transform: translate3d(49.0px, -8.0px, 0);
        transform: translate3d(49.0px, -8.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(3.0, 3.0) translate3d(0, 0, 0);
       transform: scale(3.0, 3.0) translate3d(0, 0, 0);
        margin-left: -30px;
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(2.8, 2.8) translate3d(0, 0, 0);
       transform: scale(2.8, 2.8) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(2.5, 2.5) translate3d(0, 0, 0);
        transform: scale(2.5, 2.5) translate3d(0, 0, 0);
    }
  
    .menu-item {
        width: 80px;
        height: 80px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(25.0px, -190.0px, 0);
       transform: translate3d(25.0px, -190.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(140.0px, 235.0px, 0);
       transform: translate3d(140.0px, 235.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(25.0px, 235.0px, 0);
       transform: translate3d(25.0px, 235.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-90.0px, 235.0px, 0);
       transform: translate3d(-90.0px, 235.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-900%, 2050%, 0);
        transform: scale(0.2, 0.2) translate3d(-900%, 2050%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-750%, 2050%, 0);
        transform: scale(0.2, 0.2) translate3d(-750%, 2050%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-310%, 1195%, 0);
        transform: scale(0.35, 0.35) translate3d(-310%, 1195%, 0);
    }
  
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -85.0px, 0);
        transform: translate3d(28.0px, -85.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(98.0px, 5.0px, 0);
        transform: translate3d(-98.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(102.0px, 5.0px, 0);
        transform: translate3d(102.0px, 5.0px, 0);
    }
}
    
@media screen and (max-width: 384px) {
    div.moto h1 {
        font-size: 0.8em;
        width: 350px;
       -webkit-transform: translate3d(-135.0px, -230.0px, 0);
       transform: translate3d(-135.0px, -230.0px, 0);
    }

    div.moto h5 {
        font-size: 0.5em;
       -webkit-transform: translate3d(10.0px, -245.0px, 0);
       transform: translate3d(10.0px, -245.0px, 0);
    }
    
    div.enter {
        font-size: 55%;
        -webkit-transform: translate3d(48.0px, -10.0px, 0);
        transform: translate3d(48.0px, -10.0px, 0);
    }
    
    .menu-open-button {
       -webkit-transform: scale(2.6, 2.6) translate3d(0, 0, 0);
       transform: scale(2.6, 2.6) translate3d(0, 0, 0);
        margin-left: -30px;
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(2.4, 2.4) translate3d(0, 0, 0);
       transform: scale(2.4, 2.4) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(2.2, 2.2) translate3d(0, 0, 0);
        transform: scale(2.2, 2.2) translate3d(0, 0, 0);
    }
  
    .menu-item {
        width: 75px;
        height: 75px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(30.0px, -170.0px, 0);
       transform: translate3d(30.0px, -170.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(140.0px, 215.0px, 0);
       transform: translate3d(140.0px, 215.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(35.0px, 215.0px, 0);
       transform: translate3d(35.0px, 215.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-90.0px, 215.0px, 0);
       transform: translate3d(-70.0px, 215.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-800%, 1900%, 0);
        transform: scale(0.2, 0.2) translate3d(-800%, 1900%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-650%, 1900%, 0);
        transform: scale(0.2, 0.2) translate3d(-650%, 1900%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-260%, 1110%, 0);
        transform: scale(0.35, 0.35) translate3d(-260%, 1110%, 0);
    }
  
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -80.0px, 0);
        transform: translate3d(28.0px, -80.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(91.0px, 5.0px, 0);
        transform: translate3d(-91.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(95.0px, 5.0px, 0);
        transform: translate3d(95.0px, 5.0px, 0);
    }
}
    
@media screen and (max-width: 320px) {
    div.moto h1 {
        font-size: 0.7em;
        width: 310px;
       -webkit-transform: translate3d(-115.0px, -210.0px, 0);
       transform: translate3d(-115.0px, -210.0px, 0);
    }

    div.moto h5 {
        font-size: 0.5em;
       -webkit-transform: translate3d(-15.0px, -225.0px, 0);
       transform: translate3d(-15.0px, -225.0px, 0);
    }

    .menu-open-button {
       -webkit-transform: scale(2.2, 2.2) translate3d(0, 0, 0);
       transform: scale(2.2, 2.2) translate3d(0, 0, 0);
        margin-left: -30px;
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(2.0, 2.0) translate3d(0, 0, 0);
       transform: scale(2.0, 2.0) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(1.9, 1.9) translate3d(0, 0, 0);
        transform: scale(1.9, 1.9) translate3d(0, 0, 0);
    }
  
    .menu-item {
        width: 65px;
        height: 65px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(35.0px, -140.0px, 0);
       transform: translate3d(35px, -140.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(130.0px, 195.0px, 0);
       transform: translate3d(130.0px, 195.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(35.0px, 195.0px, 0);
       transform: translate3d(35.0px, 195.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-60.0px, 195.0px, 0);
       transform: translate3d(-60.0px, 195.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-800%, 2000%, 0);
        transform: scale(0.2, 0.2) translate3d(-800%, 2000%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-650%, 2000%, 0);
        transform: scale(0.2, 0.2) translate3d(-650%, 2000%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-260%, 1165%, 0);
        transform: scale(0.35, 0.35) translate3d(-260%, 1165%, 0);
    }
  
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -70.0px, 0);
        transform: translate3d(28.0px, -70.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(80.0px, 5.0px, 0);
        transform: translate3d(-80.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(83.0px, 5.0px, 0);
        transform: translate3d(83.0px, 5.0px, 0);
    }
}
    
@media screen and (max-width: 320px) and (max-height: 480px) {
    div.moto h1 {
        font-size: 0.7em;
        width: 310px;
       -webkit-transform: translate3d(-115.0px, -190.0px, 0);
       transform: translate3d(-115.0px, -190.0px, 0);
    }

    div.moto h5 {
        font-size: 0.5em;
       -webkit-transform: translate3d(-15.0px, -205.0px, 0);
       transform: translate3d(-15.0px, -205.0px, 0);
    }

    .menu-open-button {
       -webkit-transform: scale(2.1, 2.1) translate3d(0, 0, 0);
       transform: scale(2.1, 2.1) translate3d(0, 0, 0);
        margin-left: -30px;
    }
    
    .menu-open-button:hover {
       -webkit-transform: scale(2.0, 2.0) translate3d(0, 0, 0);
       transform: scale(2.0, 2.0) translate3d(0, 0, 0);
    }
    
    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(1.8, 1.8) translate3d(0, 0, 0);
        transform: scale(1.8, 1.8) translate3d(0, 0, 0);
    }
  
    .menu-item {
        width: 60px;
        height: 60px;
    }
    
    .menu-open:checked ~ .menu-item:nth-child(3) {
       -webkit-transform: translate3d(40.0px, -145.0px, 0);
       transform: translate3d(40px, -125.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
       -webkit-transform: translate3d(135.0px, 185.0px, 0);
       transform: translate3d(135.0px, 185.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
       -webkit-transform: translate3d(40.0px, 185.0px, 0);
       transform: translate3d(40.0px, 185.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
       -webkit-transform: translate3d(-55.0px, 185.0px, 0);
       transform: translate3d(-55.0px, 185.0px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-800%, 1950%, 0);
        transform: scale(0.2, 0.2) translate3d(-800%, 1950%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        -webkit-transform: scale(0.2, 0.2) translate3d(-650%, 1950%, 0);
        transform: scale(0.2, 0.2) translate3d(-650%, 1950%, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(9) {
        -webkit-transform: scale(0.4, 0.4) translate3d(-260%, 1135%, 0);
        transform: scale(0.35, 0.35) translate3d(-260%, 1135%, 0);
    }
  
    .dropdown-content {
        -webkit-transform: translate3d(28.0px, -70.0px, 0);
        transform: translate3d(28.0px, -70.0px, 0);
    }
    
    .dropdown:hover .projects {
        -webkit-transform: translate3d(80.0px, 5.0px, 0);
        transform: translate3d(-80.0px, 5.0px, 0);
    }

    .dropdown:hover .events {
        -webkit-transform: translate3d(83.0px, 5.0px, 0);
        transform: translate3d(83.0px, 5.0px, 0);
    }
}